@media(max-width:876px) {}

@media(max-width:576px) {}

.navbar-nav {
    display: flex;
    flex-direction: row !important;
}

.navbar-nav li > ul.dropdown-menu {
    position: absolute;
    top: 71px;
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: #f1f1f1;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

.navbar-nav li:hover > ul.dropdown-menu:before {
    content: "";
    width: 0;
	height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 16px solid #f1f1f1;
    position: absolute;
    top: -14px;
    left: 78px;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 

.dropdown-item:active {
    background-color: rgb(236, 236, 255);
}
